{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <center class=" btn btn dark">SONU</center>
    <div class="card bg-dark text-white">
        <img src="{% static 'images/sonu.jpg' %}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">RAKSHA BANDHAN</h5>
          <p class="card-text">Raksha means safety and bandhan means bond. 
            Raksha Bandhan or Rakhi is an important Hindu festival, 
            dedicated to brothers and sisters. On this auspicious day,
             sisters tie a thread on her brother's wrist and pray for his long and prosperous life.
             In return, the brother gives a token of love to his loving sister.</p>
          <p class="card-text">HAPPY RAKSHA BANDHAN</p>
        </div>
      </div>
    <script src="{% static 'js/mdb.min.css' %}"></script>
</body>
</html>